.App {
  text-align: center;
 
}
.userTable{
  width: 50vmax;
  margin: auto;
  margin-top: 60px;
}

.userForm{
  width: 60vmin;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  
}

.rootlogo{
  width: 70vmin;
  margin-top:20px;

}